<a href="https://colab.research.google.com/github/mouax209/data-201-resources/blob/master/Other_topics_Advanced_Experimentation_Challenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What to use?**

1) Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.

* T-test for paired samples

2) Did people become happier from 2012 to 2014? Compute results for each country in the sample.

* T-test for paired samples


3) Who reported watching more TV in 2012, men or women?

* T-test for independent samples

4) Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

* T-test for independent samples

5) Pick three or four of the countries in the sample and compare how often people met socially in 2014. Are there differences, and if so, which countries stand out?

* One-way ANOVA

6) Pick three or four of the countries in the sample and compare how often people took part in social activities, relative to others their age, in 2014. Are there differences, and if so, which countries stand out?

* One-way ANOVA

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv")
df

     cntry    idno  year  tvtot  ppltrst  ...  sclmeet  sclact  gndr  agea  partner
0       CH     5.0     6    3.0      3.0  ...      5.0     4.0   2.0  60.0      1.0
1       CH    25.0     6    6.0      5.0  ...      3.0     2.0   2.0  59.0      1.0
2       CH    26.0     6    1.0      8.0  ...      6.0     3.0   1.0  24.0      2.0
3       CH    28.0     6    4.0      6.0  ...      6.0     2.0   2.0  64.0      1.0
4       CH    29.0     6    5.0      6.0  ...      7.0     2.0   2.0  55.0      1.0
...    ...     ...   ...    ...      ...  ...      ...     ...   ...   ...      ...
8589    SE  3729.0     7    3.0      4.0  ...      6.0     2.0   1.0  18.0      2.0
8590    SE  3732.0     7    5.0      6.0  ...      6.0     3.0   1.0  15.0      2.0
8591    SE  3743.0     7    4.0      5.0  ...      6.0     3.0   1.0  44.0      2.0
8592    SE  3744.0     7    5.0      8.0  ...      7.0     3.0   1.0  15.0      2.0
8593    SE  3746.0     7    2.0      6.0  ...      7.0     4.0   2.0  15.0      2.0

[8594 rows x 13 columns]

In [3]:
df.columns

Index(['cntry', 'idno', 'year', 'tvtot', 'ppltrst', 'pplfair', 'pplhlp',
       'happy', 'sclmeet', 'sclact', 'gndr', 'agea', 'partner'],
      dtype='object')

In [0]:
#data cleaning

In [0]:
df.dropna(how='any', inplace=True)

In [6]:
df.cntry.unique()

array(['CH', 'CZ', 'DE', 'ES', 'NO', 'SE'], dtype=object)

In [0]:
#slice by country, year and find the mean of people trust variable

In [8]:
df.groupby('cntry').count()

       idno  year  tvtot  ppltrst  ...  sclact  gndr  agea  partner
cntry                              ...
CH     1475  1475   1475     1475  ...    1475  1475  1475     1475
CZ     1207  1207   1207     1207  ...    1207  1207  1207     1207
DE       27    27     27       27  ...      27    27    27       27
ES     2292  2292   2292     2292  ...    2292  2292  2292     2292
NO     1420  1420   1420     1420  ...    1420  1420  1420     1420
SE     1726  1726   1726     1726  ...    1726  1726  1726     1726

[6 rows x 12 columns]

In [0]:
#slicing data

In [10]:
df.groupby(['cntry','year'])['ppltrst'].mean()

cntry  year
CH     6       5.685792
       7       5.764468
CZ     6       4.402662
       7       4.356436
DE     6       5.076923
       7       5.357143
ES     6       5.127807
       7       4.940035
NO     6       6.648305
       7       6.599719
SE     6       6.043073
       7       6.239908
Name: ppltrst, dtype: float64

1) Did people become less trusting from 2012 to 2014? Compute results for each country in the sample.

* T-test for paired samples

In [0]:
CH_ppltrst_12 = df[(df.cntry=='CH')&(df.year==6)]['ppltrst'][:732]
CH_ppltrst_14 = df[(df.cntry=='CH')&(df.year==7)]['ppltrst'][:732]
CZ_ppltrst_12 = df[(df.cntry=='CZ')&(df.year==6)]['ppltrst'][:601]
CZ_ppltrst_14 = df[(df.cntry=='CZ')&(df.year==7)]['ppltrst'][:601]
DE_ppltrst_12 = df[(df.cntry=='DE')&(df.year==6)]['ppltrst'][:13]
DE_ppltrst_14 = df[(df.cntry=='DE')&(df.year==7)]['ppltrst'][:13]
ES_ppltrst_12 = df[(df.cntry=='ES')&(df.year==6)]['ppltrst'][:1134]
ES_ppltrst_14 = df[(df.cntry=='ES')&(df.year==7)]['ppltrst'][:1134]
NO_ppltrst_12 = df[(df.cntry=='NO')&(df.year==6)]['ppltrst'][:708]
NO_ppltrst_14 = df[(df.cntry=='NO')&(df.year==7)]['ppltrst'][:708]
SE_ppltrst_12 = df[(df.cntry=='SE')&(df.year==6)]['ppltrst'][:859]
SE_ppltrst_14 = df[(df.cntry=='SE')&(df.year==7)]['ppltrst'][:859]

In [12]:
print(stats.ttest_rel(CH_ppltrst_12,CH_ppltrst_14))
print(stats.ttest_rel(DE_ppltrst_12,DE_ppltrst_14))
print(stats.ttest_rel(CZ_ppltrst_12,CZ_ppltrst_14))
print(stats.ttest_rel(ES_ppltrst_12,ES_ppltrst_14))
print(stats.ttest_rel(NO_ppltrst_12,NO_ppltrst_14))
print(stats.ttest_rel(SE_ppltrst_12,SE_ppltrst_14))

Ttest_relResult(statistic=-0.685503936789268, pvalue=0.4932433040188394)
Ttest_relResult(statistic=-0.6684373647831918, pvalue=0.5165064656723359)
Ttest_relResult(statistic=0.3309358230335794, pvalue=0.7408085007445435)
Ttest_relResult(statistic=2.1512250255992353, pvalue=0.03166935799305661)
Ttest_relResult(statistic=0.5462752312298897, pvalue=0.5850490996185177)
Ttest_relResult(statistic=-2.074422015535839, pvalue=0.0383378027404032)

In [0]:
#when we reject null hypothesis we're saying there's a difference - low pvalue 
#and high t-test

People in Switzerland, Germany, Czech Republic, and Norway became less trusting from 2012 to 2014.

2. Did people become happier from 2012 to 2014? Compute results for each country in the sample.

In [0]:
#pplhlp
CH_pplhlp_12 = df[(df.cntry=='CH')&(df.year==6)]['pplhlp'][:732]
CH_pplhlp_14 = df[(df.cntry=='CH')&(df.year==7)]['pplhlp'][:732]
CZ_pplhlp_12 = df[(df.cntry=='CZ')&(df.year==6)]['pplhlp'][:601]
CZ_pplhlp_14 = df[(df.cntry=='CZ')&(df.year==7)]['pplhlp'][:601]
DE_pplhlp_12 = df[(df.cntry=='DE')&(df.year==6)]['pplhlp'][:13]
DE_pplhlp_14 = df[(df.cntry=='DE')&(df.year==7)]['pplhlp'][:13]
ES_pplhlp_12 = df[(df.cntry=='ES')&(df.year==6)]['pplhlp'][:1134]
ES_pplhlp_14 = df[(df.cntry=='ES')&(df.year==7)]['pplhlp'][:1134]
NO_pplhlp_12 = df[(df.cntry=='NO')&(df.year==6)]['pplhlp'][:708]
NO_pplhlp_14 = df[(df.cntry=='NO')&(df.year==7)]['pplhlp'][:708]
SE_pplhlp_12 = df[(df.cntry=='SE')&(df.year==6)]['pplhlp'][:859]
SE_pplhlp_14 = df[(df.cntry=='SE')&(df.year==7)]['pplhlp'][:859]

In [14]:
print(stats.ttest_rel(CH_pplhlp_12,CH_pplhlp_14))
print(stats.ttest_rel(DE_pplhlp_12,DE_pplhlp_14))
print(stats.ttest_rel(CZ_pplhlp_12,CZ_pplhlp_14))
print(stats.ttest_rel(ES_pplhlp_12,ES_pplhlp_14))
print(stats.ttest_rel(NO_pplhlp_12,NO_pplhlp_14))
print(stats.ttest_rel(SE_pplhlp_12,SE_pplhlp_14))

Ttest_relResult(statistic=0.4499177871993098, pvalue=0.6529031074159986)
Ttest_relResult(statistic=-0.7042147167923564, pvalue=0.49473887675222583)
Ttest_relResult(statistic=0.917127985244372, pvalue=0.35944406650345984)
Ttest_relResult(statistic=4.323117375490558, pvalue=1.6736452372098193e-05)
Ttest_relResult(statistic=1.0859542751397107, pvalue=0.2778693457815292)
Ttest_relResult(statistic=-0.434124496878554, pvalue=0.6643071801073455)

The ttest results show statistical insignficance, people did not become happier from 2012 to 2014.

3. Who reported watching more TV in 2012, men or women?

In [0]:
women_tv_12 = df[(df.gndr==2) & (df.year==6)]['tvtot']
men_tv_12 = df[(df.gndr==1) & (df.year==6)]['tvtot']

In [16]:
print(stats.ttest_ind(women_tv_12,men_tv_12))

Ttest_indResult(statistic=0.7323552192640558, pvalue=0.4639939646110154)

No difference - Boh men and women reported about the same amount spent of time on watching Tv.

4. Who was more likely to believe people were fair in 2012, people living with a partner or people living alone?

In [0]:
fair_partner_12 = df[(df.year==6) & (df.partner==1)]['pplfair']
fair_nopart_12 = df[(df.year==6)&(df.partner==2)]['pplfair']

In [18]:
print(stats.ttest_ind(fair_partner_12,fair_nopart_12))

Ttest_indResult(statistic=3.0430439318464235, pvalue=0.002356936676939248)

In [23]:
print(fair_partner_12.mean())
print(fair_nopart_12.mean())

6.0743509047993705
5.86592544146501

People living with a partner were more likely to believe that people were fair in 2012.

5. Pick three or four of the countries in the sample and compare how often people met socially in 2014. Are there differences, and if so, which countries stand out?

In [0]:
ES_sclact = df[(df.year==7) & (df.cntry=='ES')]['sclact']
NO_sclact = df[(df.year==7) &(df.cntry=='NO')]['sclact']
SE_sclact = df[(df.year==7) & (df.cntry=='SE')]['sclact']

In [26]:
print((ES_sclact).mean())
print((NO_sclact).mean())
print((SE_sclact).mean())

2.631393298059965
2.860955056179775
2.878892733564014

In [20]:
print(stats.f_oneway(ES_sclact, NO_sclact, SE_sclact))

F_onewayResult(statistic=23.994028014859204, pvalue=4.685034666506116e-11)

There's no difference among the countries and how they compared in their social activity levels in 2014.

6) Pick three or four of the countries in the sample and compare how often people took part in social activities, relative to others their age, in 2014. Are there differences, and if so, which countries stand out?

can create age categories for comparison, slice data frame into groups - young, middle age, seniors

In [101]:
#create age groups 16-60 
#young_ad <=29
#adult >=30
df['age_cat'] = df['agea'].apply(lambda x: 'ya' if x<=30 else 'adult')
df

     cntry    idno  year  tvtot  ppltrst  ...  sclact  gndr  agea  partner  age_cat
0       CH     5.0     6    3.0      3.0  ...     4.0   2.0  60.0      1.0    adult
1       CH    25.0     6    6.0      5.0  ...     2.0   2.0  59.0      1.0    adult
2       CH    26.0     6    1.0      8.0  ...     3.0   1.0  24.0      2.0       ya
3       CH    28.0     6    4.0      6.0  ...     2.0   2.0  64.0      1.0    adult
4       CH    29.0     6    5.0      6.0  ...     2.0   2.0  55.0      1.0    adult
...    ...     ...   ...    ...      ...  ...     ...   ...   ...      ...      ...
8589    SE  3729.0     7    3.0      4.0  ...     2.0   1.0  18.0      2.0       ya
8590    SE  3732.0     7    5.0      6.0  ...     3.0   1.0  15.0      2.0       ya
8591    SE  3743.0     7    4.0      5.0  ...     3.0   1.0  44.0      2.0    adult
8592    SE  3744.0     7    5.0      8.0  ...     3.0   1.0  15.0      2.0       ya
8593    SE  3746.0     7    2.0      6.0  ...     4.0   2.0  15.0      2.0       ya

[8147 rows x 14 columns]

In [0]:
ES_sclact_ya = df[(df.year==7) & (df.cntry=='ES') & (df.age_cat=='ya')]['sclact']
ES_sclact_adult = df[(df.year==7) & (df.cntry=='ES') & (df.age_cat=='adult')]['sclact']
NO_sclact_ya = df[(df.year==7) & (df.cntry=='NO') & (df.age_cat=='ya')]['sclact']
NO_sclact_adult = df[(df.year==7) & (df.cntry=='NO') & (df.age_cat=='adult')]['sclact']
SE_sclact_ya = df[(df.year==7) & (df.cntry=='SE') & (df.age_cat=='ya')]['sclact']
SE_sclact_adult = df[(df.year==7) & (df.cntry=='SE') & (df.age_cat=='adult')]['sclact']
CH_sclact_ya = df[(df.year==7) & (df.cntry=='CH') & (df.age_cat=='ya')]['sclact']
CH_sclact_adult = df[(df.year==7) & (df.cntry=='CH') & (df.age_cat=='adult')]['sclact']

In [116]:
#means of age group by country 
#ya results and one-anova test 
print((ES_sclact_ya).mean())
print((NO_sclact_ya).mean())
print((SE_sclact_ya).mean())
print((CH_sclact_ya).mean())

2.7304347826086954
2.95679012345679
2.909090909090909
2.8125

In [117]:
print(stats.f_oneway(ES_sclact_ya, NO_sclact_ya, SE_sclact_ya, CH_sclact_ya))

F_onewayResult(statistic=2.6862265673842924, pvalue=0.04556704739794114)

There are differences. Young adults in Norway and Sweden recorder higher avg of social activity levels than those in Switzerand and Spain.

In [118]:
print((ES_sclact_adult).mean())
print((NO_sclact_adult).mean())
print((SE_sclact_adult).mean())
print((CH_sclact_adult).mean())

2.606194690265487
2.8327272727272725
2.8699551569506725
2.7760141093474426

In [119]:
print(stats.f_oneway(ES_sclact_adult, NO_sclact_adult, SE_sclact_adult, CH_sclact_adult))

F_onewayResult(statistic=13.338710052425402, pvalue=1.2165566048514565e-08)

The difference is not statistically significant. While it seems that adults in Sweden and Norway report higher levels of social activties they are not much different from the other two countries.